{% extends 'shared/_layout.html' %}

{% block title %}
    ورود
{% endblock %}


{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ورود به حساب کاربری</h2>
                        <form method="post" action="{% url 'login_page' %}">
                            {% csrf_token %}
                            {{ login_form }}
{#                            <input type="text" placeholder="نام کاربـری">#}
{#                            <input type="email" placeholder="آدرس ایمیـل">#}
{#                            <input type="password" placeholder="رمـز عبـور">#}
                            <p><a href="{% url 'forget_pass_page' %}">فراموشی رمز عبور</a></p>
                            <button type="submit" class="btn btn-default">ورود</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}