{% extends 'shared/_layout.html' %}

{% block title %}
    ثبت نام
{% endblock %}


{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ثبت نام کاربـر جدیـد</h2>
                        <form method="post" action="{% url 'register_page' %}">
                            {% csrf_token %}
                            {{ register_form }}
{#                            <input type="text" placeholder="نام کاربـری">#}
{#                            <input type="email" placeholder="آدرس ایمیـل">#}
{#                            <input type="password" placeholder="رمـز عبـور">#}
                            <button type="submit" class="btn btn-default">ثبت نام</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}