{% extends 'shared/_layout.html' %}

{% block title %}
    بازیابی رمز عبور
{% endblock %}


{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="signup-form"><!--sign up form-->
                        <h2> بازیابی رمز عبور</h2>
                        <form method="post" action="{% url 'reset_pass_page' active_code=user.email_active_code %}">
                            {% csrf_token %}
                            {{ reset_pass_form }}
                            {#                            <input type="text" placeholder="نام کاربـری">#}
                            {#                            <input type="email" placeholder="آدرس ایمیـل">#}
                            {#                            <input type="password" placeholder="رمـز عبـور">#}
                            <button type="submit" class="btn btn-default">ثبت</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}