{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load render_partial %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">آخریـن اخبـار</h2>
                        {% for article in article_list %}
                            <div class="single-blog-post">
                                <h3>{{ article.title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        <li>{% if article.author is not None %} {{ article.author }} {% else %} کاربـر
                                            1 {% endif %}</li>
                                        <li>{{ article.created_date|show_jalali_time }}</li>
                                        <li>{{ article.created_date|show_jalali_date }}</li>
                                    </ul>
                                    <span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
                                </div>
                                <a href="">
                                    {% thumbnail article.image "862x398" quality=95 crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </a>
                                {#                            <p>{{ article.short_description }}</p>#}
                                <a class="btn btn-primary" href="">ادامـه مطلب</a>
                            </div>

                        {% endfor %}

                        <div class="pagination-area">
                            <ul class="pagination">
                                <li><a href="" class="active">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>دسته بندی محصولات</h2>
                        {% render_partial 'article_module.views.article_categories_component' %}

                        <div class="shipping text-center"><!--shipping-->
                            <img src="images/home/shipping.jpg" alt="">
                        </div><!--/shipping-->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}