<div dir="rtl">
    <h2>فعالسازی حساب کاربری</h2>
    <hr>
    <p>کاربر گرامی جهت فعالسازی حساب کاربری خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="http://localhost:8000{% url 'activate_account' email_active_code=user.email_active_code %}">فعالسازی
            حساب کاربری</a>
    </p>
</div>
