<div dir="rtl">
    <h2>بازیابی حساب کاربری</h2>
    <hr>
    <p>کاربر گرامی جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="http://localhost:8000{% url 'reset_pass_page' active_code=user.email_active_code %}">بازیابی
            حساب کاربری</a>
    </p>
</div>
