{% extends 'shared/_layout.html' %}

{% block title %}
profile image 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for profile in profiles %}
                <li>
                    <img src="{{ profile.image.url }}" alt="Hello " width="350px">
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}