<div class="panel-group category-products" id="accordian"><!--category-productsr-->

    {% for main_category in main_categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% if main_category.articlecategory_set.all %}
                        <a data-toggle="collapse" data-parent="#accordian" href="#{{ main_category.url_title }}">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{ main_category.title }}
                        </a>
                    {% else %}
                        <a href="#sportswear">
                            {{ main_category.title }}
                        </a>
                    {% endif %}

                </h4>
            </div>

            {% if main_category.articlecategory_set.all %}
                <div id="{{ main_category.url_title }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            {% for sub_category in main_category.articlecategory_set.all %}
                                <li><a href="">{{ sub_category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            {% endif %}
            {#            {% if main_category.articlecategory_set.all %}#}
            {#            {% endif %}#}


        </div>
    {% endfor %}
</div><!--/category-productsr-->